{% extends "base.html" %}
{% block title %}
    Test Page :: {{ block.super }}
{% endblock title %}
{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock sidebar %}
{% block content %}
    {% comment %} {% for name in page_obj.object_list %}
        <p>
            {{ name }}
        </p>
    {% endfor %} {% endcomment %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Send</button>
    </form>
{% endblock content %}
